.posts__wrapper {
  flex: 6;
  padding-bottom: 2em;
}

.posts__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .posts__inner {
    width: 90%;
  }
}