.wrapper {
  width: 100%;
  height: 90vh;
  background: url("/images/blog-banner.jpg") no-repeat center left;
  background-size: cover;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.banner__img {
  width: 50%;
}

.banner__img img {
  width: 100%;
}

.blogify__texts {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.blogify__texts h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

.blogify__texts p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.blogify__texts p span {
  color: tomato;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100vh;
  }
  .inner {
    flex-direction: column;
    justify-content: center;
  }
  .banner__img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .blogify__texts {
    width: 100%;
  }

  .blogify__texts p {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}
  
}