.inner {
  width: 50%;
  margin: 0 auto;
}

.inner h1 {
  color: rgb(59, 59, 59);
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 4px;
  text-align: center;
}

.inner h1 span {
  color: tomato;
}

.profile__pic {
  display: flex;
  align-items: center;
}

.profile__pic img {
  border-radius: 50%;
  object-fit: cover;
}

.input__fields {
  margin-top: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs label {
  font-size: 0.8em;
  font-weight: 600;
  color: #999;
}

.inputs input {
  width: 100%;
  padding: 1.2em;
  outline: none;
  border: 1px solid #ccc;
  margin: 0.5em 0;
  border-radius: 5px;
}

.submit__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0.7em 1.5em;
  width: 25%;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 1.1em;
  background: rgb(55, 95, 95);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  text-decoration: underline;
  color: #666;
}

.links a span {
  color: tomato;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .inner {
    width: 90%;
  }

  .inner h1 {
    font-size: 2em;
  }

  .submit__btn {
    width: 70%;
  }

  .links {
    flex-direction: column;
  }

  .links a {
    margin-top: 10px;
  }

  .links a span {
    color: tomato;
    cursor: pointer;
  }

  .links a:hover {
    color: #000;
  }

  .links a span:hover {
    color: tomato;
  }
}