.inner {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
}

.profile__ctn {
  flex: 6;
  padding: 0 2em;
}

.profile__ctn h1 {
  color: rgb(59, 59, 59);
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 4px;
}

.profile__pic {
  display: flex;
  align-items: center;
}

.profile__pic img {
  border-radius: 50%;
  object-fit: cover;
}

.change__pic {
  margin-left: 2em;
}

.change__pic button {
  padding: 1em;
  font-weight: 400;
  color: #fff;
  background: tomato;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

.input__fields {
  margin-top: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs label {
  font-size: 0.8em;
  font-weight: 600;
  color: #999;
}

.inputs input {
  width: 50%;
  padding: 1em;
  outline: none;
  border: 1px solid #ccc;
  margin: 0.5em 0;
  border-radius: 5px;
  font-size: 1em;
}

/* .input__fields button {
  margin-top: 20px;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  background: rgb(55, 95, 95);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
} */

.submit__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0.7em 1.5em;
  width: 20%;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 1.1em;
  background: rgb(50, 204, 204);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submit__btn:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {

  .profile__ctn {
    flex: 8;
    height: 100%;
  }

  .profile__ctn h1 {
    font-size: 2.5em;
  }

  .profile__pic {
    flex-direction: column;
  }

  .change__pic {
    margin-left: 0;
    margin-top: 1em;
  }

  .inputs {
    width: 100%;
  }

  .inputs input {
    width: 100%;
  }

  .submit__btn {
    width: 100%;
  }
  
  .arrow__ctn {
    margin-left: auto;
  }

  .arrow__left,
  .arrow__right {
    background: tomato;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.5em;
  }

  .arrow__ctn i {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
  }
}