.inner {
  width: 50%;
  margin: 0 auto;
}

.inner h1 {
  color: rgb(59, 59, 59);
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 4px;
  text-align: center;
}

.inner h1 span {
  color: tomato;
}

.profile__pic {
  display: flex;
  align-items: center;
}

.profile__pic img {
  border-radius: 50%;
  object-fit: cover;
}

.input__fields {
  margin-top: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs label {
  font-size: 0.8em;
  font-weight: 600;
  color: #999;
}

.inputs input {
  width: 100%;
  padding: 1.2em;
  outline: none;
  border: 1px solid #ccc;
  margin: 0.5em 0;
  border-radius: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.button button:nth-child(1) {
  width: 25%;
}

.submit__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0.7em 1.5em;
  width: 25%;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 1.1em;
  background: rgb(55, 95, 95);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 1.1em;
  background: rgb(55, 95, 95);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.links button:disabled {
  background: rgb(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.links a {
  text-decoration: underline;
  color: #666;
}

.links a span {
  color: tomato;
  cursor: pointer;
}

.upload__profile__picture__inner h2 {
  color: #999;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: center;
}

.upload__profile__picture__inner__image {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.upload__profile__picture__inner__image i {
  font-size: 9em;
  color: #666;
}

.upload__profile__picture__inner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.upload__profile__picture__inner__image input {
  display: none;
}

.button__ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.upload__btn {
  margin-right: 20px;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  background: rgb(55, 95, 95);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.remove__btn {
  margin-right: 20px;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  background: tomato;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.button button:nth-child(2) {
  margin-left: 20px;
  background: #666;
}
