.wrapper {
  flex: 6;
  padding: 2em 1em;
}

.inner img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 5px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
  flex: 9;
  color: rgb(90, 88, 88);
}
.icons__ctn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding-bottom: 1em;
}

.icons__ctn i {
  font-size: 1.1em;
  color: #444;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.icons__ctn i:hover {
  color: #fff;
}

.icons__ctn i::after {
  width: 18px;
  height: 18px;
  background: tomato;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.8em;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.icons__ctn i:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.post__details span {
  font-size: 1.2em;
  color: #444;
  font-weight: 200;
  margin: 0.2em 0;
}

.createdAt span {
  font-size: 0.8em;
  color: #444;
  font-weight: 200;
  margin: 0.5em 0;
}

.inner p {
  font-size: 1.2em;
  color: #444;
  font-weight: 200;
  margin: 1em 0;
  letter-spacing: 0.8px;
}

.inner p::first-letter {
  font-size: 2.5em;
  color: #444;
  font-weight: 600;
  margin: 0 0.1em;
}

.heading input {
  flex: 9;
  font-size: 1.5em;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid #444;
  color: #444;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 0.5em 0;
}

.inner textarea {
  font-size: 1.25em;
  width: 100%;
  resize: none;
  border: none;
  height: 50vh;
  margin-top: 20px;
}

.inner textarea:focus {
  outline: none;
}

.update__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0.7em 1.5em;
  width: 20%;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 1.1em;
  background: rgb(50, 204, 204);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.update__btn:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1em 0.5em;
  }

  .icons__ctn {
    flex: 2.2;
  }

  .heading {
    margin: 0.5em 0;
  }

  .heading h1 {
    font-size: 1.5em;
  }

  .heading input {
    font-size: 1.2em;
  }

  .inner textarea {
    font-size: 1em;
  }

  .post__details {
    margin-top: 0.5em;
  }

  .createdAt {
    margin-bottom: 0.5em;
  }

  .update__btn {
    width: 30%;
  }
  
}