.write__wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.write__inner {
  margin-top: 2em;
  width: 90%;
  height: 100%;
  margin: 2em auto;
}

.file__input {
  display: flex;
  align-items: center;
  width: 100%;
}

.file__input label {
  color: #444;
  display: flex;
  align-items: center;
}

.file__input label i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 0.5em;
}

.heading {
  width: 100%;
}

.heading input {
  font-size: 30px;
  width: 100%;
  border: none;
  padding: 1.25em;
  margin-top: 1em;
}

.heading input:focus {
  outline: none;
}

.quill {
  width: 100%;
  resize: none;
  border: none;
  height: 40vh;
}

.write__input textarea:focus {
  outline: none;
}

.submit__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0.7em 1.5em;
  width: 20%;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 1.1em;
  background: rgb(50, 204, 204);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submit__btn:hover {
  transform: scale(0.95);
}

.write__img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.multi__select_dropdown {
  margin: 0 auto;
}

.drop__down {
  width: 100%;
}

.drop__down input {
  width: 100%;
  padding: 1.25em;
  border: none;
  font-size: 1.25em;
  margin-top: 1em;
  height: 40px;
}

.drop__down input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .write__inner {
    width: 90%;
    margin: 2em auto;
  }

  .file__input {
    flex-direction: column;
  }

  .file__input label {
    margin-bottom: 1em;
  }

  .drop__down input {
    height: 20px;
    padding: 0.8em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
  }

  .heading input {
    font-size: 20px;
    padding: 0.8em;
    margin: 10px 0;
  }

  .write__img {
    height: 40vh;
  }

  .quill {
    height: 30vh;
  }

  .submit__btn {
    width: 40%;
  }
}
